In [4]:
import pandas as pd
 
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
 
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])

for i, row in df.iterrows():
    print(row['Age'])

21
19
20
18

In [19]:
from datetime import datetime as dt
import pandas as pd
ss="2022-01-18 10:47:37"
print(pd.to_datetime(ss))

2022-01-18 10:47:37

In [20]:
df

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

In [21]:
df.shape

(4, 4)

In [22]:
ss = [('Accounting', 'Account Representative IV', 1, 0, 0, 0), ('Accounting', 'Actuary', 0, 1, 0, 0), ('Accounting', 'Analyst Programmer', 0, 0, 1, 0), ('Accounting', 'Budget/Accounting Analyst III', 0, 1, 0, 0), ('Accounting', 'Cost Accountant', 0, 1, 0, 0), ('Accounting', 'Database Administrator III', 0, 0, 0, 1)]
ss

[('Accounting', 'Account Representative IV', 1, 0, 0, 0),
 ('Accounting', 'Actuary', 0, 1, 0, 0),
 ('Accounting', 'Analyst Programmer', 0, 0, 1, 0),
 ('Accounting', 'Budget/Accounting Analyst III', 0, 1, 0, 0),
 ('Accounting', 'Cost Accountant', 0, 1, 0, 0),
 ('Accounting', 'Database Administrator III', 0, 0, 0, 1)]

In [23]:
import json
print(json.dumps(ss))

[["Accounting", "Account Representative IV", 1, 0, 0, 0], ["Accounting", "Actuary", 0, 1, 0, 0], ["Accounting", "Analyst Programmer", 0, 0, 1, 0], ["Accounting", "Budget/Accounting Analyst III", 0, 1, 0, 0], ["Accounting", "Cost Accountant", 0, 1, 0, 0], ["Accounting", "Database Administrator III", 0, 0, 0, 1]]

In [42]:
from fastapi.responses import JSONResponse
result_list = [{i:tuple(ss[i])} for i in range(len(ss))]
print(result_list)
print(JSONResponse(content=result_list))

[{0: ('Accounting', 'Account Representative IV', 1, 0, 0, 0)}, {1: ('Accounting', 'Actuary', 0, 1, 0, 0)}, {2: ('Accounting', 'Analyst Programmer', 0, 0, 1, 0)}, {3: ('Accounting', 'Budget/Accounting Analyst III', 0, 1, 0, 0)}, {4: ('Accounting', 'Cost Accountant', 0, 1, 0, 0)}, {5: ('Accounting', 'Database Administrator III', 0, 0, 0, 1)}]
<starlette.responses.JSONResponse object at 0x000001BD0546C4F0>

In [39]:
ss

[('Accounting', 'Account Representative IV', 1, 0, 0, 0),
 ('Accounting', 'Actuary', 0, 1, 0, 0),
 ('Accounting', 'Analyst Programmer', 0, 0, 1, 0),
 ('Accounting', 'Budget/Accounting Analyst III', 0, 1, 0, 0),
 ('Accounting', 'Cost Accountant', 0, 1, 0, 0),
 ('Accounting', 'Database Administrator III', 0, 0, 0, 1)]

In [32]:
ss

[('Accounting', 'Account Representative IV', 1, 0, 0, 0),
 ('Accounting', 'Actuary', 0, 1, 0, 0),
 ('Accounting', 'Analyst Programmer', 0, 0, 1, 0),
 ('Accounting', 'Budget/Accounting Analyst III', 0, 1, 0, 0),
 ('Accounting', 'Cost Accountant', 0, 1, 0, 0),
 ('Accounting', 'Database Administrator III', 0, 0, 0, 1)]